.not-found {
    height: auto;
    width: 100%;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 60%;
        margin-top: 1%;
    }

    .center {
        text-align: center;

        h1 {
            font-size: 60px;
            margin-top: 0.5%; 
            font-family: 'DM Sans', sans-serif;
            font-weight: 900;
        }

        p {
            font-size: 20px;
            font-family: 'Inter', sans-serif;
            margin-bottom: 3%;
        }
    }

    
}