
.showcase {
    background-color: #F0EFE9;
    position: relative;

    .background-line1 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .container {
        display: flex;
        align-items: center;
        

        .content {
            z-index: 1;

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-size: 96px;
                font-weight: 700;
            }

            p {
                font-size: 20px;
                font-family: 'Inter', sans-serif;
                padding-top: 25px;
                padding-bottom: 35px;
            }

            a {
                margin-right: 12px;  
            }
        }
    }

    img {
        margin-right: -48px;
    }
}
